h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
h4{font-size: 1.7em;}
p{font-size: 1.3em;}

button {
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid $gradient;
    box-shadow: 2px 2px 10px $gradient;
    color: #fff;
    background-color: #9D5DC3;
    transition: all 0.7s;
    margin-top: 35px;
}

button:hover {
    background-color: #774792;
    transform: scale(1.05);
    transition: all 0.7s;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{
    color: #9D5DC3;
}